.work {
    padding: 125px 0 146px 0;

    &__title {
        font-size: 40px;
        margin-bottom: 38px;
        font-family: $Montserrat-ExtraBold;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            font-size: 60px;
            margin-bottom: 73px;
        }
    }

    &__wrapper {
        display: inline-block;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 81px;
        @include media-breakpoint-up(lg) {
            display: flex;
        }

    }

    &__link {
        text-decoration: none;
        margin-right: 3px;
        font-size: 10px;
        text-transform: uppercase;
        font-family: $Montserrat-Medium;
        padding: 7px 10px;

        &:hover {
            background-color: $bright-yellow;
           
        }

        @include media-breakpoint-up(lg) {
            margin-right: 19px;
            font-size: 12px;
        }
    }

    &__list {
        display: inline-block;

        // margin-bottom: 20px;
       

        @include media-breakpoint-up(lg) {
            margin-right: 38px;
        }
    }

    &__select {
        font-size: 12px;
        font-family: $Montserrat-Medium;
        text-transform: uppercase;
        margin-top: 20px;
        // padding: 7px 10px;

        &:hover {
            background-color: $bright-yellow;
            
        }
        @include media-breakpoint-up(lg) {
            margin-right: 0;
        }
    }
}

// image {
//     width: 368px;
//     height:296px;
// }
.grid-item{
    max-width: 398px;
}
.grid-image{
        margin-bottom: 30px;
    }

.block-title {
    font-size: 40px;
    margin-bottom: 38px;
    font-family: $Montserrat-ExtraBold;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        font-size: 60px;
        margin-bottom: 73px;
    }
}

.active {
    background-color: $bright-yellow;

    // padding: 7px 8px 8px 10px;
    @include media-breakpoint-up(lg) {
        padding: 7px 10px;
    }
}

.btn-show {
    text-transform: uppercase;
    font-size: 12px;
    background-color: $bright-yellow;
    padding: 14px 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    &:hover{
        background-color:gold;
    }

    @include media-breakpoint-up(lg) {
        padding: 17px 58px;
        margin-bottom: 191px;
    }
}

.logos {
    display: inline-block;
    justify-content: center;

    @include media-breakpoint-up(lg) {
        justify-content: space-between;
        display: flex;
    }

    &__img {
        width: 98px;
        margin-left: 20px;
        margin-bottom: 20px;
        // margin-left: 100px;
    }
}

// .image {
//     margin-bottom: 29px;
// }

// .image1:hover{
//     position: absolute;
//     top: 0;
//     left:0;
//     display:block;
//     transform:translateY(10px);
//     z-index: 2;
// }
// .image {
//     margin-bottom: 60px;
// }