$colors: (
  white: #ffffff,
  black: #000000,
  red: #ff0000,
  yellow:#ffe100
);

$size: ( 
  input-btn-radius: 35px,
  textarea-btn-radius: 10px
);

$font-weight: (
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800
);

 
$input-btn-radius: map-get($size, input-btn-radius);
$textarea-btn-radius: map-get($size, textarea-btn-radius);

$white: map-get($colors, white);
$black: map-get($colors, black);
$red: map-get($colors, red);
$yellow: map-get($colors, yellow);

$regular: map-get($font-weight, regular);
