@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?jl6icb');
    src:  url('../fonts/icomoon.eot?jl6icb#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?jl6icb') format('truetype'),
      url('../fonts/icomoon.woff?jl6icb') format('woff'),
      url('../fonts/icomoon.svg?jl6icb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .icon-facebook:before {
    content: "\ea90";
  }

  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  
  

  // @font-face {
  //   font-family: 'icomoon';
  //   src:  url('../fonts/icomoon.eot?dzlvhy');
  //   src:  url('../fonts/icomoon.eot?dzlvhy#iefix') format('embedded-opentype'),
  //     url('../fonts/icomoon.ttf?dzlvhy') format('truetype'),
  //     url('../fonts/icomoon.woff?dzlvhy') format('woff'),
  //     url('../fonts/icomoon.svg?dzlvhy#icomoon') format('svg');
  //   font-weight: normal;
  //   font-style: normal;
  //   font-display: block;
  // }
  
  // [class^="icon-"], [class*=" icon-"] {
  //   /* use !important to prevent issues with browser extensions that change fonts */
  //   font-family: 'icomoon' !important;
  //   speak: never;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-variant: normal;
  //   text-transform: none;
  //   line-height: 1;
  
  //   /* Better Font Rendering =========== */
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  // }
  
  
  
//   @font-face {
//   font-family: 'icomoon';
//   src:  url('fonts/icomoon.eot?qkeihw');
//   src:  url('fonts/icomoon.eot?qkeihw#iefix') format('embedded-opentype'),
//     url('fonts/icomoon.ttf?qkeihw') format('truetype'),
//     url('fonts/icomoon.woff?qkeihw') format('woff'),
//     url('fonts/icomoon.svg?qkeihw#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }



// @font-face {
//   font-family: 'icomoon';
//   src:  url('../fonts/icomoon.eot?qkeihw');
//   src:  url('../fonts/icomoon.eot?qkeihw#iefix') format('embedded-opentype'),
//     url('../fonts/icomoon.ttf?qkeihw') format('truetype'),
//     url('../fonts/icomoon.woff?qkeihw') format('woff'),
//     url('../fonts/icomoon.svg?qkeihw#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// [class^="icon-"], [class*=" icon-"] {
//   /* use !important to prevent issues with browser extensions that change fonts */
//   font-family: 'icomoon' !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;

//   /* Better Font Rendering =========== */
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// .icon-dribbble:before {
//   content: "\eaa7";
// }
