footer {
    background-color: $brown;
    padding-top: 81px 


}

.foot {
    &__text {
        font-size: 11px;
        font-family: $Montserrat-Medium;
        color: $white;
        margin-bottom: 20px;
    }

    &__scroll {
        text-transform: uppercase;
        //  margin-left: 300px;
        font-size: 11px;
        font-family: $Montserrat-Medium;
        color: $white;
    }

    &__logo {
        width: auto;
        margin-bottom: 30px;
    }
}